parameters:
	ignoreErrors:
		-
			message: "#^Method Billplz\\\\Client\\:\\:bank\\(\\) should return Billplz\\\\Contracts\\\\BankAccount but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:bill\\(\\) should return Billplz\\\\Contracts\\\\Bill but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:card\\(\\) should return Billplz\\\\Contracts\\\\Card but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:collection\\(\\) should return Billplz\\\\Contracts\\\\Collection but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:openCollection\\(\\) should return Billplz\\\\Contracts\\\\OpenCollection but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:paymentOrder\\(\\) should return Billplz\\\\Contracts\\\\PaymentOrder but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:paymentOrderCollection\\(\\) should return Billplz\\\\Contracts\\\\PaymentOrderCollection but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:payout\\(\\) should return Billplz\\\\Contracts\\\\Payout but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:payoutCollection\\(\\) should return Billplz\\\\Contracts\\\\Collection\\\\Payout but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Method Billplz\\\\Client\\:\\:transaction\\(\\) should return Billplz\\\\Contracts\\\\Bill\\\\Transaction but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Parameter \\#1 \\$key of static method Billplz\\\\Checksum\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/Five/PaymentOrder.php

		-
			message: "#^Parameter \\#1 \\$key of static method Billplz\\\\Checksum\\:\\:create\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: src/Five/PaymentOrderCollection.php

		-
			message: "#^Method Billplz\\\\Four\\\\Collection\\:\\:payout\\(\\) should return Billplz\\\\Four\\\\Collection\\\\Payout but returns Laravie\\\\Codex\\\\Contracts\\\\Request\\.$#"
			count: 1
			path: src/Four/Collection.php

